.BasePage {
  height: 100%;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.links {
  a {
    background-color: #007bff;
    border-radius: 5px;
    color: white;
    font-size: 12pt;
    margin: 0.5rem;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #2b91ff;
    }

    &.dropdown-item {
      background-color: transparent;
      color: black;
      margin: 0px;

      &:hover {
        background-color: #eeeeee;
      }
    }

    @media (max-width: 500px) {
      margin: 0.1rem;
    }
  }

  .dropdown-toggle {
    border-radius: 5px;
    margin: 0.5rem 0px;
    padding: 5px 10px;
    font-size: 12pt;

    @media (max-width: 500px) {
      margin: 0.1rem;
    }
  }
}

main {
  padding-bottom: 80px;
}

footer {
  background-color: #dadada;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  height: 80px;
  padding: 20px;
  position: absolute;
  width: 100%;

  @media (max-width: 768px) {
    font-size: 12pt;
  }
}
