.calculator {
  background-color: #dadada;
  border: 2px solid #919191;
  padding-top: 7rem;

  @media (max-width: 500px) {
    padding-top: 1rem;
  }

  .btn-calculate {
    padding: .75rem 5rem;  
  }

  .input-calculate {
    color: black;
    text-align: center;
    padding: .5rem 0;
    margin: .5rem 0;

    &:disabled {
      color: black;
    }
  }
}